<style>
    #loader {
        left: auto;
        width: 100%;
    }
</style>
<div id="loader">
    <div class="spinner"></div>
</div>
<table>
    <thead>
        <th>Display Name</th>
        <th>User Name</th>
    </thead>
    <tbody>
        <td>test</td>
    </tbody>
</table>